node_modules

.cache
.env
.vercel
.output
.vscode

/build/
/public/build
/api/index.js
/api/index.js.map
/app/styles/app.css

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/.env

prisma/dev.db
.env
.env.production

.idea
